nav {
  height: 68px;
  h2 {
    float: left;
    cursor: pointer;
    margin-left: 10px;
  }

  .left {
    float: right;
    list-style-type: none;

    li {
      display: inline-block;
      margin: 10px;
      cursor: pointer;
      color: #642CA9;
    }
  }
}