nav {
  height: 68px;
  h2 {
    float: left;
    cursor: pointer;
    margin-left: 10px;
    a {
      text-decoration: none;
      color: #000;
    }
  }

  .left {
    float: right;
    list-style-type: none;

    li {
      display: inline-block;
      margin: 10px;
      cursor: pointer;
      a {
        text-decoration: none;
      }
    }
  }
}